#title {
  text-align: center;
}
#container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
}

#game {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  height: 100px;
  width: 100px;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}